<div class='ui grid'>
  <div class='sixteen wide column'>
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <%= image_tag "logo_blanco.png", {class: "ui centered small image"} %>
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#">Contacto</a>
          <%= link_to "Términos y condiciones", document_path(2), class: "item" %>
          <%= link_to "Políticas de privacidad", document_path(1), class: "item" %>
        </div>
      </div>
    </div>
  </div>
</div>