- if banners.present?
  - banner_left = banners.where(location_left: true)
  - if banner_left.any?
    - banner_left.sample(3).each do |banner|
      .card.banner-card
        - if banner.image_left.exists?
          - banner.views = banner.views.to_i + 1
          - banner.save!
          - if banner.link.present?
            %a.image{href: "#{banner.link}", target: "_blank"}
              = image_tag banner.image_left.url(:normal), {class: ""}
          - else
            = image_tag banner.image_left.url(:normal), {class: ""}
