- if banners.present?
  - banner_right = banners.where(location_right: true)
  - if banner_right.any?
    - banner_right.sample(3).each do |banner|
      .card.banner-card
        - if banner.image_right.exists?
          - banner.views = banner.views.to_i + 1
          - banner.save!
          - if banner.link.present?
            %a.image{href: "#{banner.link}", target: "_blank"}
              = image_tag banner.image_right.url(:normal), {class: ""}
          - else
            = image_tag banner.image_right.url(:normal), {class: ""}
