.ui.grid.attached
  - @cities.each do |city|
    .sixteen.wide.mobile.six.wide.tablet.four.wide.computer.column
      .ui.cards
        %a.ui.card.fluid.highlight-home{href: city_path(city)}
          .content
            %h3.ui.header
              = city.name
          .image
            = image_tag city.image.url(:medium)
          - if city.description.present?
            .content
              .description
                = city.description
