.ui.grid.attached
	.sixteen.wide.column.logo-home
		= image_tag "logo_shadow.png", {class: "ui centered big image"}
	.sixteen.wide.column
		.ui.menu
			- @regions.each do |reg|
				%a.item{href: "#"}
					%i.map.outline.icon
					= reg[:title]


	- @actividades.each_with_index do |act, i|
		.sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
			.ui.link.cards
				.ui.card.fluid
					%a.content{href: welcome_path(1)}
						/.right.floated.meta
						/	= act[:vistas]
						/	vistas
						%h3.ui.header
							= act[:title]
					%a.image{href: welcome_path(1)}
						= image_tag act[:image]
					.extra 
						Rating:
						.ui.star.rating{data:{rating:act[:starts], "max-rating": 5 }}
					/.extra.content
					/	.ui.large.transparent.left.icon.input
					/		= fa_icon "heart", {class: "outline"}
					/		= text_field_tag :comment, "", placeholder: "Agregar comentario"



