.ui.grid.attached
	.sixteen.wide.column.logo-home
		= image_tag "logo_shadow.png", {class: "ui centered big image"}
	.sixteen.wide.column
		.ui.menu
			- @regions.each do |region|
				%a.item{href: region_path(region.id)}
					%i.map.outline.icon
					= region.name


	- @actividades.each do |act|
		.sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
			.ui.link.cards
				.ui.card.fluid
					%a.content{href: activity_path(act.id)}
						%h3.ui.header
							= act[:name]
					%a.image{href: activity_path(act.id)}
						= image_tag act.image.url(:medium)



