.ui.grid.attached
	- @actividades.each do |act|
		.sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
			.ui.link.cards
				.ui.card.fluid.highlight-home
					%a.content{href: activity_path(act.id)}
						%h3.ui.header
							= act[:name]
					%a.image{href: activity_path(act.id)}
						= image_tag act.image.url(:medium)
