/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "semantic-ui";
@import "colors";

body{
    background: $orange_light;
}

.regions{
	.item{
		a{
			color: #0b5814;
		}
	}
}

.html-content{
  img{
    width: 100% !important;
    height: auto !important;
  }
}

.header-top{
	color: #999999;
    background: $orange_trademark;
	text-align: right;
	.ui{
		&.grid{
			&>.column:not(.row){
				padding:0px;
			}
		}
		&.menu{
			font-size: 1.1rem;
			margin-top: 0.2rem;
			margin-bottom: 0.2rem;
			a.item, .dropdown.item{
				color: #FFFFFF;
				font-weight: bold;
				&:hover{
					color: #FFFFFF;
				}
				&.active{
					background: rgba(0, 0, 0, 0.5);
					color: #FFFFFF;
				}
				.menu{
					background: #d8b228;
					&.user-menu{
						background: rgba(255, 255, 255, 0.5);
						text-align: right;
					}
				}
			}
		}

	}
}

.center-panel{
	//background:#EEEEEE;
}

.hiddenItem{
	&.isHidden{
		display: none !important;
	}
}	

.left-menu{
	.ui.text.menu{
		a.item{
			color: #0b71b9;
			&:hover{
				//color: #01abd6;
			}
		}
	}	
}

.ui.sticky{
	&.header-top{
	    box-shadow: none;
	    transition: box-shadow 0.5s ease, padding 0.5s ease;
		&.fixed{
			box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.4);
		}		
	}
}

.contact-form{
	background: #0b71b9;
	padding:10px;
	.form{
		.field{
			label{
				color: $white;
			}
		}			
	}
}

.destinations{
	h4{
		text-align: left
	}
}

.ui.popup.popup_destinations{
	background: $orange_trademark;
	color: $white;
	&:before{
		background: $orange_trademark;
	}
	a{
		color: $white;
	}
}

.ui{
  &.card{
      &.highlight-home{
          border-left: solid $lightgreen_trademark 6px;
          &:hover{
              border-left: solid $lightgreen_trademark 6px !important;
          }
      }
  }
  .card{
      &.banner-card{
          border-left: solid $blue_trademark 6px;
          &:hover{
              border-left: solid $blue_trademark 6px !important;
          }
      }
  }
  .header.item{
    &.logo{
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  &.menu{
    &.inverted{
      background: $blue_trademark;
    }
  }

  &.search{
    text-align: left;
  }

  &.medium.image{
    width: 200px;
  }
}




.masthead.segment {
  min-height: 70vh;
  padding: 1em 0em;
  background: asset-url("bg-forest.jpg") no-repeat !important;
  background-size: cover !important;
  background-position: 0% 50% !important;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 20vh;
  margin-bottom: 0em;
  font-size: 2.5em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

@media only screen and (max-width: 700px) {

  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

