/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "semantic-ui";
@import "colors";

body{
 	background-image: asset-url("bg.png");
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
}

.regions{
	.item{
		a{
			color: #0b5814;
		}
	}
}

.header-top{
	background: #f69820;
	color: #999999;
	text-align: right;
	.ui{
		&.grid{
			&>.column:not(.row){
				padding:0px;
			}
		}
		&.menu{
			a.item, .dropdown.item{
				color: #FFFFFF;
				font-weight: bold;
				&:hover{
					color: #FFFFFF;
				}
				.menu{
					background: #d8b228;
				}
			}
		}

	}
}

.center-panel{
	//background:#EEEEEE;
}

.hiddenItem{
	&.isHidden{
		display: none !important;
	}
}	

.left-menu{
	.ui.text.menu{
		a.item{
			color: #0b71b9;
			&:hover{
				//color: #01abd6;
			}
		}
	}	
}

.ui.sticky{
	&.header-top{
	    box-shadow: none;
	    transition: box-shadow 0.5s ease, padding 0.5s ease;
		&.fixed{
			box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.4);
		}		
	}
}

.contact-form{
	background: #0b71b9;
	padding:10px;
	.form{
		.field{
			label{
				color: $white;
			}
		}			
	}
}

.destinations{
	h4{
		text-align: left
	}
}

.ui.popup.popup_destinations{
	background: $orange_trademark;
	color: $white;
	&:before{
		background: $orange_trademark;
	}
	a{
		color: $white;
	}
}